[submodule "dependencies/mettle"]
	path = dependencies/mettle
	url = https://github.com/JohnGalbraith/mettle.git
[submodule "dependencies/type_safe"]
	path = dependencies/type_safe
	url = https://github.com/foonathan/type_safe.git
[submodule "dependencies/rapidcheck"]
	path = dependencies/rapidcheck
	url = https://github.com/emil-e/rapidcheck.git
[submodule "dependencies/fmt"]
	path = dependencies/fmt
	url = https://github.com/fmtlib/fmt.git

